/*GLOBAL*/

*{
    box-sizing: border-box;
}

.border{
    border: 1px solid black;
}

body{
    background-color: #fff5e7;
}

/*LAYOUT*/

.max-width{
    width: 100%;
    max-width: 1440px;
    padding: 1em;
    background: #fff5e7;
}

.max-width-container{
    display: flex;
    justify-content: center;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.section-grid > * {
    grid-column: 1 / -1;
}

.page_cta-button{
    grid-column: 4 / -4;
}

@media (width >= 600px){
    .page_cta-button{
        grid-column: 6 / -6;
    }
}

/* LAYOUT - Global Header*/

header > .max-width {
    max-width: 100vw;
}

.global-nav{
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    grid-template-areas: "hamburger logo .";
}

.global-nav__hamburger-button{
    grid-area: hamburger;
}

.global-nav__logo{
    grid-area: logo;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 10em;
}

.global-nav__contact{
    display: none;
}

.global-nav__links{
    display: none;
}

@media (width >= 600px){
    .global-nav{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 0.5rem;
    }
    .global-nav__hamburger-button{
        display: none;
    }
    .global-nav__logo{
        grid-area: unset;
        grid-row: 1;
        grid-column: 6 / -6;
        width: 12em;
    }
    .global-nav__contact{
        grid-row: 1;
        grid-column: 10 / 13;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .global-nav__links{
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 0.5rem;
        border-top: 1px solid #fff5e7;
    }
    .global-nav__links ul{
        display: none;
    }
}

/* LAYOUT - Global Footer */

footer > .max-width {
    max-width: 100vw;
}

.global-footer__grid{
    display: grid;
    gap: 2em;
    grid-template-areas: "links"
                         "copyright";
}

.global-footer__copyright{
    grid-area: copyright;
    color: #FFFFFF;
    justify-self: center;
}

.global-footer__links, .global-footer__links li{
    grid-area: links;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global-footer__links > li{
    margin-top: 1rem;
}

@media(width >= 600px){
    
    .global-footer__links{
        grid-area: links;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }   
}

/* LAYOUT - HOME PAGE */

.site-hero .max-width{
    max-width: 100vw;
}

.site-hero-button-collection{
    align-self: end;
    display: flex;
    flex-direction: column;
}

@media (width >= 600px){
    .benders-reviews_box1{
        grid-column: 1 / 6;
        grid-row: 1;
    }
    .benders-reviews_box2{
        grid-column: 6 / 9;
        grid-row: 1;
    }
    .benders-reviews_box3{
        grid-column: 9 / 13;
        grid-row: 1 / span 2;
        
    }
    .benders-reviews_box4{
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .benders-reviews_box5{
        grid-column: 4 / 6;
        grid-row: 2;
    }
    .benders-reviews_box6{
        grid-column: 6 / 9;
        grid-row: 2;
    }
    .site-hero-button-collection{
        grid-column: 5 / -5;
    }
}

/* LAYOUT - WINE TOUR PAGE */

@media (width >= 600px){
    .pricing-table{
        grid-column: 1 / 4;
    }
    .tour-info{
        grid-column: 5 / 13;
    }   
}

/* LAYOUT - BUS HIRE PAGE */

.bus-hire-info_text{
    justify-self: center;
}

/* LAYOUT - FAQ PAGE */

@media(width >= 600px){
    .faq-collection{
        grid-column: 2 / 12;
    }
}

/* LAYOUT - BLOG PAGE */

.blog-article_link{
    justify-self: end;
}

@media(width >= 600px){
    .blog-article-collection{
        grid-column: 2 / 12;
    }
}

/* LAYOUT - BLOG ARTICLE PAGE */

.blog-nav-link{
    grid-row: 2;
    justify-self: start;
}
.blog-article-date{
    grid-row: 2;
    justify-self: end;
}

@media(width >= 600px){
    .blog-article-container{
        grid-column: 2 / 12;
    }
}

/* TYPOGRAPHY */

@font-face {
    font-family: "Cheyenne Sans";
    src: url('../resources/fonts/CheyenneSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "MADE Mirage";
    src: url('../resources/fonts/MADE-Mirage-Regular.otf') format("opentype");
}

h1, h2, h3 {
    font-family: "MADE Mirage", Times, serif;
    color: #545540;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

h4 {
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p {
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* COMPONENTS */

img{
    max-width: 100%;
}

table {
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    border: 2px solid #545540;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: rgb(84, 85, 64, 0.3);
    color: #545540;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
}

th,
td {
  border: 1px solid #fff5e7;
  padding: 8px 10px;
  text-align: center;
}

.head-foot-background{
    background-color: #545540;
}

.page-image{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.link-style {
    font-family: "MADE Mirage", Times, serif;
    color: #545540;
    text-decoration: underline;
}

.blog-date{
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 0.7rem;
}

.main-cta-button {
    background-color: #A02334;
    border: 1px solid #A02334;
    color: #fff5e7;
    text-decoration: none;
    text-align: center;
    font-family: "MADE Mirage", Times, serif;
    padding: 0.75em 0;
    border-radius: 40px;
    margin: 1.5em 0;
}

@media (width >= 600px){
    .page-image{
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }   
}

/* COMPONENTS - HEADER */

.global-nav__contact li{
    margin-left: 2rem;
}

.global-nav__contact li a{
    color: #fff5e7;
    text-decoration: none;
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    font-size: 1rem;
}

.global-nav__links li p, .global-nav__links li a {
    color: #fff5e7;
    text-decoration: none;
    font-family: "MADE Mirage", Times, serif;
    font-size: 1rem;
    margin-bottom: 0rem;
}

@media( width>=600px ){
    header .max-width{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .global-nav__links{
        border-top: 1px solid #fff5e7;
    }
}

/* COMPONENTS - FOOTER */

footer li p {
    color: #fff5e7;
    text-decoration: none;
    font-family: "MADE Mirage", Times, serif;
}

footer li a {
    color: #fff5e7;
    text-decoration: none;
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

/* COMPONENTS - WINE TOUR PAGE */

.pricing-table{
    align-self: center;
}

ol{
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 1em;
}

/* COMPONENTS - BLOG PAGE */

.blog-article-item{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.blog-article_link{
    align-self: flex-end;
}


/* COMPONENTS - BLOG ARTICLE PAGE */



/* COMPONENTS - HOME PAGE */

.background-image{
    background-image: url('../resources/images/site-hero.jpg');
    background-size: cover;
    width: 100vw;
    height: 88vh;
}

.site-hero_cta-button {
    background-color: rgb(255, 255, 255, 0.5);
    border: 1px solid #545540;
    color: #545540;
    text-decoration: none;
    text-align: center;
    font-family: "MADE Mirage", Times, serif;
    font-size: 1.5rem;
    padding: 0.75em 0;
    border-radius: 40px;
    margin: 0.5em 0;
}

.site-hero_cta-button:hover {
    background-color: #7596b8;
    border: 1px solid #7596b8;
    color: #fff5e7;
}