/*GLOBAL*/

*{
    box-sizing: border-box;
}

.border{
    border: 1px solid black;
}

body{
    background-color: #F3EFEB;
}

/*LAYOUT*/

.max-width{
    width: 100%;
    max-width: 1440px;
    padding: 1em;
    background: #F3EFEB;
}

.max-width-container{
    display: flex;
    justify-content: center;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.section-grid > * {
    grid-column: 1 / -1;
}

.page_cta-button{
    grid-column: 4 / -4;
}

@media (width > 768px){
    .page_cta-button{
        grid-column: 6 / -6;
    }
}

/* LAYOUT - Global Header*/

header > .max-width {
    max-width: 100vw;
}

.global-header{
    display: flex;
    flex-direction: column;
}
.global-nav__promotions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
}

.global-nav{
    display: grid;
    grid-template-columns: 2em 1fr 2em;
    grid-template-areas: "hamburger logo .";
}

.global-nav__hamburger-button{
    grid-area: hamburger;
}

.global-nav__logo{
    grid-area: logo;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 15em;
}

.global-nav__contact{
    display: none;
}

.header-nav-links, .global-nav__links{
    display: none;
}

.sticky{
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 9;
}

.mobile-nav-links{
    display: none;
}

@media (width > 768px){
    .global-nav{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 1rem;
    }
    .global-nav__hamburger-button{
        display: none;
    }
    .global-nav__logo{
        grid-area: unset;
        grid-row: 1;
        grid-column: 6 / -6;
        width: 15em;
    }
    .global-nav__contact{
        grid-row: 1;
        grid-column: 9 / 13;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;
    }
    .header-nav-links{
        display: block;
    }
    .global-nav__links{
        grid-row: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .mobile-nav-links{
        display: none;
    }
}

/* LAYOUT - Global Footer */

body > footer{
    background-color: #545540;
}

footer > .max-width {
    max-width: 100vw;
}

.global-footer__grid{
    display: grid;
    gap: 2em;
    grid-template-areas: "links"
                         "copyright";
}

.global-footer__copyright{
    grid-area: copyright;
    color: #FFFFFF;
    justify-self: center;
    margin-bottom: 0rem;
}

.global-footer__links{
    grid-area: links;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.global-footer__links li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pseudo-footer-image-carousel .max-width{
    max-width: 100vw;
    padding: 0rem;
}

@media(width > 768px){
    
    .global-footer__links{
        max-width: 1024px;
        grid-area: links;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        justify-self: center;
        gap: 5rem;
    }
}

/* LAYOUT - HOME PAGE */

.site-hero .max-width{
    max-width: 100vw;
}

.site-hero-button-collection{
    align-self: end;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) and (max-width:1024px){
    .site-hero-button-collection{
        grid-column: 4 / -4;
    }   
}

@media(width >= 1025px){
    .site-hero-button-collection{
        grid-column: 5 / -5;
    }
}

.review-box{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flickity-page-dots {
    bottom: 0px !important;
}

.flickity-prev-next-button.previous {
    left: -10px !important;
}
  .flickity-prev-next-button.next {
    right: -10px !important;
}

.flickity-button {
    background: transparent !important;
  }

.star-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.desktop-reviews{
    display: none;
}

@media (width > 768px){
    .mobile-reviews{
        display: none;
    }
    .desktop-reviews{
        display: grid;
    }
    .reviews-heading{
        grid: 1;
    }
    .benders-reviews_box1{
        grid-column: 1 / 5;
        grid-row: 2;
    }
    .benders-reviews_box2{
        grid-column: 5 / 9;
        grid-row: 2;
    }
    .benders-reviews_box3{
        grid-column: 9 / 13;
        grid-row: 2;
    }
    .benders-reviews_box4{
        grid-column: 1 / 5;
        grid-row: 3;
    }
    .benders-reviews_box5{
        grid-column: 5 / 9;
        grid-row: 3;
    }
    .benders-reviews_box6{
        grid-column: 9 / 13;
        grid-row: 3;
    }
}

/* LAYOUT - WINE TOUR PAGE */

.tour-page{
    flex-direction: column;
    align-items: center;
}

@media (width > 768px){
    .pricing-table{
        grid-column: 1 / 4;
    }
    .tour-info{
        grid-column: 5 / 13;
    }   
}

/* LAYOUT - BUS HIRE PAGE */

.bus-hire-info_text{
    justify-self: center;
}

/* LAYOUT - FAQ PAGE */

.faq-question-answer-set{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.faq-question-block{
    display: grid;
    grid-template-columns: 1fr 2em;
    border-bottom: #545540 1px solid;
    align-items: center;
}

.faq-question{
    font-size: 1.1em;
    margin-bottom: 0rem;
}

.arrow-up{
    height: 40px;
    width: 40px;
}
.arrow-down{
    height: 40px;
    width: 40px;
}

.faq-show{
    display: block;
}

.faq-hide{
    display: none;
}

.faq-answer{
    padding: 0.5rem;
    background-color: rgb(84, 85, 64, 0.2);
}

.faq-collection h4{
    margin-bottom: 1.25rem;
    margin-top: 3rem;
}

@media(width > 768px){
    .faq-collection{
        grid-column: 2 / 12;
    }
}

/* LAYOUT - BLOG PAGE */

.blog-article_link{
    justify-self: end;
}

.blog-article-collection-container{
    display: grid;
    grid-template-areas: "blog-image"
                         "article-stub";
    margin-bottom: 2rem;
}

@media(width > 768px){
    .blog-article-collection{
        grid-column: 2 / 12;
    }

    .blog-article-collection-container{
        display: grid;
        grid-template-columns: 15em 1fr;
        grid-template-areas: "blog-image article-stub";
    }
}

/* LAYOUT - BLOG ARTICLE PAGE */

.blog-nav-link{
    grid-row: 2;
    justify-self: start;
}
.blog-article-date{
    grid-row: 2;
    justify-self: end;
}

@media(width > 768px){
    .blog-article-container{
        grid-column: 2 / 12;
    }
}

/* LAYOUT - MEMORIES PAGE */

.memories-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.memories-image-container{
    grid-column: span 12;
    padding: 0.25rem;
}

@media only screen and (min-width: 600px) and (max-width:768px){
    .memories-image-container{
        grid-column: span 6;
    }   
}

@media only screen and (min-width: 769px) and (max-width:1400px){
    .memories-image-container{
        grid-column: span 4;
    }   
}

@media(width >= 1440px){
    .memories-image-container{
        grid-column: span 3;
    }
}

/* LAYOUT - CONTACT US*/

.contact-us .max-width{
    max-width: 768px;
}


/* TYPOGRAPHY */

@font-face {
    font-family: "Cheyenne Sans";
    src: url('../resources/fonts/CheyenneSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Lane - Narrow";
    src: url('../resources/fonts/LANENAR_.ttf') format("truetype");
}

@font-face {
    font-family: "Morena";
    src: url('../resources/fonts/Morena.ttf') format("truetype");
}

@font-face {
    font-family: "MADE Mirage";
    src: url('../resources/fonts/MADE-Mirage-Regular.otf') format("opentype");
}

h1, h2, h3 {
    font-family: "MADE Mirage", Times, serif;
    color: #545540;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

h4 {
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p {
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* COMPONENTS */

img{
    max-width: 100%;
}

table {
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    border: 2px solid #545540;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: rgb(84, 85, 64, 0.3);
    color: #545540;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
}

th,
td {
  border: 1px solid #F3EFEB;
  padding: 8px 10px;
  text-align: center;
}

.head-foot-background{
    background-color: #545540;
}

.page-image{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.link-style {
    font-family: "MADE Mirage", Times, serif;
    color: #545540;
    text-decoration: underline;
}

.blog-date{
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 0.7rem;
}

.main-cta-button {
    background-color: #A02334;
    border: 1px solid #A02334;
    color: #F3EFEB;
    text-decoration: none;
    text-align: center;
    font-family: "MADE Mirage", Times, serif;
    padding: 0.75em 0;
    border-radius: 40px;
    margin: 1.5em 0;
}

@media (width > 768px){
    .page-image{
        height: 70vh;
        width: 100%;
        object-fit: cover;
    }   
}

/* COMPONENTS - HEADER */

.global-nav__promotions a{
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #A02334;
    text-decoration: underline;
}

.global-nav__links li p, .global-nav__links li a {
    color: #F3EFEB;
    text-decoration: none;
    font-family: "MADE Mirage", Times, serif;
    font-size: 1rem;
    margin-bottom: 0rem;
}

.global-nav__tour-links{
    position: absolute;
    width: 100%;
    left: 0;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #7596b8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 11px;
}

.global-nav__tour-links-hide{
    display: none;
}

.global-nav__tour-links-show{
    display: flex;
}


.global-nav__tour-links-show li a{
    font-family: "Lane - Narrow";
    font-size: 1.2rem;
    font-weight: 500;
    color: #F3EFEB;
    text-decoration: none;
}

#tours-root-nav:hover{
    cursor: pointer;
}

.phone-cta-button {
    background-color: #F3EFEB;
    border: 1px solid rgb(84, 85, 64, 0.5);
    color: #545540;
    text-decoration: none;
    text-align: center;
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    padding: 0.25em 0.75em;
    border-radius: 40px;
}

.mobile-nav-links nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    max-height: 100vh;
    overflow: auto;
}

.mobile-nav-show{
    display: flex;
}

.mobile-nav-hide{
    display: none;
}

.mobile-nav-links li ul{
    margin-left: 3rem;
}

.mobile-nav-links li{
    padding: 0.75rem;
}

.mobile-nav-links > nav > ul > li{
    border-bottom: #F3EFEB 1px solid;
}

.mobile-nav-links li a{
    color: #F3EFEB;
    text-decoration: none;
    font-family: "Lane - Narrow";
    font-size: 1.2rem;
}

.mobile-nav-links li p{
    color: #F3EFEB;
    text-decoration: none;
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0rem;
}

.mobile-nav-close{
    align-self: flex-end;
}

.icon-text li{
    display: flex;
    align-items: center;
}

.icon-text li > img{
    margin-right: 5px;
}

@media( width > 768px ){
    .global-header .max-width{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
    }
    .header-nav-links .max-width{
        padding: 0rem;
    }
    .global-nav__links{
        border-top: 1px solid #F3EFEB;
    }
}

/* COMPONENTS - FOOTER */

footer li p {
    color: #F3EFEB;
    text-decoration: none;
    font-family: "MADE Mirage", Times, serif;
    font-size: 1.2rem;
}

footer li a {
    color: #F3EFEB;
    text-decoration: none;
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

/* COMPONENTS - WINE TOUR PAGE */

.tour-hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tour-hero-title-strip{
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.5);
}

.tour-hero h2{
    font-size: 1.5em;
    color: #545540;
    text-align: center;
    margin-bottom: 0rem;
}

@media(width > 700px){
    .tour-hero h2{
        font-size: 3em;
    }   
}

.tour-hero-image-adl-hills{
    background-image: url('../resources/images/carousel/0D0A1664.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.tour-hero-image-barossa{
    background-image: url('../resources/images/carousel/0D0A1564.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.tour-hero-image-mclaren{
    background-image: url('../resources/images/carousel/0D0A1724.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.pricing-table{
    align-self: center;
}

ol{
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 1em;
}

@media(width > 600px){
    .tour-hero-image-mclaren,
    .tour-hero-image-barossa,
    .tour-hero-image-adl-hills{
        height: 70vh;
        background-position: center;
    }
}

/* COMPONENTS - BLOG PAGE */

.blog-article-item{
    grid-area: article-stub;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-stub-image{
    grid-area: blog-image;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    padding: 0.5rem;
}

@media (width > 786px){
    .blog-stub-image{
        max-height: 200px;
    }
}

.blog-article_link{
    align-self: flex-end;
}


/* COMPONENTS - BLOG ARTICLE PAGE */



/* COMPONENTS - HOME PAGE */

.background-image{
    background-image: url('../resources/images/site-hero.webp');
    background-size: cover;
    background-position-y: bottom;
    background-position-x: 50%;
    width: 100vw;
    height: 78vh;
}

.site-hero_cta-button {
    background-color: rgb(255, 255, 255, 0.5);
    border: 1px solid #545540;
    color: #545540;
    text-decoration: none;
    text-align: center;
    font-family: "Morena";
    font-size: 1.1rem;
    padding: 1em 1em;
    border-radius: 40px;
    margin: 0.25em 0;
}

.site-hero_cta-button:hover {
    background-color: #7596b8;
    border: 1px solid #7596b8;
    color: #F3EFEB;
}

.reviews-bcg{
    background-color: #ECE1D4;
}

blockquote {
	font-family: "MADE Mirage", Times, serif;
    color: #545540;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
	position: relative;
}

cite{
    font-family: "MADE Mirage", Times, serif;
    color: #545540;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.carousel-image{
    object-fit: cover;
    padding: 0.125rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: 30vh;
}

@media(width > 768px){
    .carousel-image{
        height: 40vh;
    }   
}

/* COMPONENTS - MEMORIES PAGE */

.memories-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* COMPONENTS - CONTACT US */

form {
    padding: 1rem;
}

input[type=text],
input[type=date],
input[type=number],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

label {
    text-transform: uppercase;
    font-family: "Cheyenne Sans", Helvetica, sans-serif;
    color: #545540;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}